<!-- footer -->
<div class="footer-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-6">
              <div class="footer-box About Us-widget">
                  <h2 class="widget-title">About Us</h2>
                  <p>Pints N Shots, is the digital e-commerce concept for beverages. It is basically a digital wallet for purchasing the Discount coupons for beverages such as Alcoholic Beverages, Non alcoholic Beverages, coffee, Tea, Shisha, and Hookah. </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="footer-box pages">
                  <h2 class="widget-title">Pages</h2>
                  <ul>
                      


                      <li><a routerLink="/about" >About Us</a></li>
                      <li><a routerLink="/contact-us">Contact Us</a></li>
                      <li><a routerLink="/blog" >Blog</a></li>
                      
                     
                      
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="footer-box get-in-touch">
                  <h2 class="widget-title">Get in Touch</h2>
                  <ul>
                      <li><i class="fa fa-envelope" style="color:#fcc133;"></i> &nbsp; <a style="color: #d6a354;" href="info@pintsnshots.com">info@pintsnshots.com</a> </li>
                      <li><i class="fa fa-phone" style="color:#fcc133;"></i> &nbsp; <a style="color: #d6a354;" href="tel:+91 8879222288">+91 8879222288</a> </li>
                      <li><i class="fa fa-map-marker" style="color:#fcc133;"></i>  &nbsp;Plot No 66 B 701 Satyam Harmony Sec 8A, Airoli, Mumbai, Mumbai City Maharashtra - 400708.</li>
                      
                  </ul>
                  <p>
                      <span class="check">
                          <a data-toggle="modal" data-target="#tNcModal" style="color: #d6a354;">Terms and Conditions</a>
                      </span>
                      </p>
                  <p>
              </div>
          </div>
          
          <!-- <div class="col-lg-3 col-md-6">
              <div class="footer-box subscribe">
                  <h2 class="widget-title">Subscribe</h2>
                  <p>Subscribe to our mailing list to get the latest updates.</p>
                  <form action="index.html">
                      <input type="email" placeholder="Email">
                      <button type="submit"><i class="fas fa-paper-plane"></i></button>
                  </form>
              </div>
          </div> -->
      </div>
  </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <p>Copyrights &copy; 2023- <a href="">Pints n Shots</a>,  All Rights Reserved.<br>
                  
              </p>
          </div>
          <div class="col-lg-6 text-right col-md-12">
              <div class="social-icons">
                  <ul>
                      <li><a href="https://www.facebook.com/profile.php?id=100086022099589" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <!-- <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li> -->
                      <li><a href="https://www.instagram.com/pintsnshots/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.linkedin.com/company/pints-n-shots/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      <!-- <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li> -->
                  </ul>
                  
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end copyright -->
<div class="modal" tabindex="-1" role="dialog" id="tNcModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="color: black;">Terms and Conditions</h2>
        
      </div>
      <div class="modal-body">
          <h5 style="color: black;">1. TERMS OF USE</h5>
          <p style="color: black;">
          By downloading, browsing, accessing or using this mobile application ("mobile Application"), you agree 
          to be bound by these Terms and Conditions Of Use. We reserve the rightbto amend these terms and conditions at any time.
          If you disagree with any of these Terms and Conditions of Use , you must immediately discontinue your access to the mobile Application
          and use of the services offered on the Mobile Application . Continued use of the Mobile Application qill constitute acceptance of these
          Terms and Conditions of Use, as may be amended from time to time.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
        
      </div>
    </div>
  </div>
</div>
