

<main>
  <section class="section register"
    style="background:url(../assets/images/login-bg4.webp) no-repeat; background-size: cover; height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">


        <div class="col-lg-6 col-md-5 d-flex flex-column ">

          <!-- <div class="">
              <a href="index.html" class="login-logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block"><img src="images/logo.png" class="img-fluid" alt="Krushi doot logo"></span>
              </a>
          </div>           <--End Logo -->

          <img src="assets/images/logo.png" alt="">
          <!-- <span class="d-lg-none d-sm-none"><img src="assets/images/logo.png" class="img-fluid" alt=""></span> -->

          <div class="card mt-5 mb-3">

            <div class="card-body mr-t5 " id="login-form">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Select</h5>
              </div>

              <div class="row">
                <div routerLink="/dashboard" class="col-lg-6">
                  <div  class="card item-card card-block">
                    <img src="assets/images/table2.jpeg" alt="Photo of sunset">
                    <h6 style="text-align: center;" class="card-title  mt-3 mb-3">Restro Booking</h6>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card item-card card-block">
                    <img src="assets/images/food.jpg" alt="Photo of sunset">
                    <h6 style="text-align: center;" class="card-title  mt-3 mb-3">Food Delivery</h6>
                  </div>
                </div>
              </div>

             
                  
                    
                   
                  </div>


                 
              

            </div>
          </div>
        </div>
      </div>
    

  </section>
</main><!-- End #main -->